{% extends 'base.html.twig' %}{# empty Twig template #}

{% block title %}Frente de loja{% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-md-4">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <form action="{{path('pesquisar_produto')}}" method="POST" id="form-produto">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        </span>
                            <input type="text" name="codigo" class="form-control" id="cod-produto"/>
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" id="limpa">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            </span>
                        </div> 
                    </form>    
                        
                        <hr />
                    
                    <div class="thumbnail hide" id="produto-detalhe">
                        <img src="http://lorempixel.com/240/240/" width="240" height="240" alt="...">
                        <div class="caption">
                          <h3>Produtos</h3>
                                <p> descrisção</p>
                          <p>Preço Unitário: R$ 150,00</p>
                          
                        </div>
                    </div>
                    
                
                        <div class="alert alert-danger hide" id="erro">
                            Produto não encontrado
                        </div>
                    </div>    
            </div>
            
        </div>    
        
        <div class="col-md-8">
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                        </span> Carrinho de compras</h3>
                </div>
                
                <div class="panel-body">
                    
                    <table class="table table-striped">
                        
                        <thead>
                        <th style="width:10%">List</th>
                        <th style="width:10%">cod</th>
                        <th style="width:70%">decrição</th>
                        <th style="width:10%">Valor</th>
                        </thead>
                        <tbody id="lista-produtos">
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="panel-footer ">
                    <div class="col-sm-6 col-md-9"></div>
                    <div class="">Total a pagar: R$ 
                        <span id="valor-total">0,00</span></div>
                  
                </div>    
            </div>
            
            <button type="button" class="btn btn-warning"data-toggle="modal" data-target="#modal-estorno">Estornar Item</button>
            <a href="{{path('cancelar')}}" type="button" class="btn btn-danger"  id="bt-cancelar">Cancelar Venda</a>
            <a href="{{path('concluir')}}" type="button" class="btn btn-success">Concluir Venda</a>
            
            
        </div>        
    </div>
    
    
    <div id="modal-estorno" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Estorno de Item</h4>
            </div>
            
            <div class="modal-body">
                <div class="form-group">
                    <label>Informe o número do item:</label>
                    <input type="text" class="form-control" id="item-estorno">
                    <button  type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                    <button id="bt-confirmar-estorno" type="button" class="btn btn-success">Confirmar</button>
                </div>
            </div>
              
          </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            
            listagemProdutos();
            
            $('#form-produto').submit(function(evento){
                
                evento.preventDefault();
                
                var valores = {
                    "codigo": $('#cod-produto').val()
                };
                
                $.post('{{path('pesquisar_produto')}}', valores, function(retorno){
                   
                   if (retorno.status == 'ok')
                   {
                       
                       $('#erro').addClass('hide');
                       $('#produto-detalhe').removeClass('hide');
                       
                       listagemProdutos();
                       
                   }else{
                       
                        $('#erro').removeClass('hide');
                        $('#produto-detalhe').addClass('hide');
                       
                   }    
                    
                    
                });
                
            });
            
            $('#bt-confirmar-estorno').click(function(){
                var numItem = $('#item-estorno').val();
                
                location.href = "/caixa/estorno/" +numItem;
            });
            
        });
        
        
        
        function listagemProdutos()
        {
            $('#lista-produtos').empty();
            
            
            $.getJSON("{{path('listagem')}}", function(retorno){
                
               var total = 0;
               
               retorno.forEach(function (el, ind){
                    
                   
                   var li = $('<tr>'
                           +'<td>'  + el.numOrdem + '</td>' 
                           +'<td>' + el.codigo + '</td>'
                           +'<td>' + el.descricao +'</td>'
                           +'<td>' +  formataValor(el.valor)  
                           +'</td>'
                           +'</tr>');
                   
                   $('#lista-produtos').append(li);
                   
                   total += parseFloat (el.valor);
                   
               });
               
               $('#valor-total').html(formataValor(total));
               $('#valor-total').html(total.toFixed(2));
               
               
            });
            
            
            $('#produto-detalhe').empty();
               
               $.getJSON("{{path('unitario')}}", function(retorno){
               
               retorno.forEach(function (el, ind){
                    
                  
                   var unitario = $('<img src=" '+el.imagem+' " width="240" height="240" alt="...">'
                                + '<div class="caption">'
                                + '<h3> '+el.nome+' </h3>'
                                + '<p> '+el.tipo+' </p>'
                                + '<p>Preço Unitário: R$ '+el.preco+' </p>');
                   
                   $('#produto-detalhe').empty();
                   $('#produto-detalhe').append(unitario);
                                      
                    });

                 });            
        }
           
           
        
        function formataValor(valor)
        {
            var partes = valor.toString().split('.');

            if (partes[1] == undefined)
            {
                partes[1] = '00';
            }

            if (partes[1].length < 2)
            {
                partes[1] += '0';
            }

            var retorno = partes[0] + ',' + partes[1];

            return retorno;
        }
        
        
    </script>
{% endblock %}
