{% extends 'base.html.twig' %}

{% block body %}
    <h1>Genero</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id: </th>
                <td> {{ genero.id }}</td>
            </tr>
            <tr>
                <th>Nome: </th>
                <td> {{ genero.nome }}</td>
            </tr>
        </tbody>
    </table>

    
            <a href="{{ path('genero_index') }}" class="btn btn-default">Voltar A Lista</a>
        
            <a href="{{ path('genero_edit', { 'id': genero.id }) }}" class="btn btn-warning">Editar</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" >
            {{ form_end(delete_form) }}
      
            
            
{% endblock %}
