{% extends 'base.html.twig' %}

{% block body %}
    
  <div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">{{ produto.imagem }}</div>
						  
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{ produto.nome }}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">Resumo</span>
						</div>
						<p class="product-description">Resumo do livro.</p>
						<h4 class="price">Preço: <span>{{ produto.preco }}</span></h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">Tipo:
							<span class="size" data-toggle="tooltip" title="small">{{ produto.tipo }}</span>
						</h5>
						<h5 class="colors">colors:
							<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>
						</h5>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button"><a href="{{ path('produtos_index') }}">Voltar a Lista</a></button>
							<button class="like btn btn-default" type="button"><a href="{{ path('produtos_edit', { 'id': produto.id }) }}">Editar</a></button>
                                                        <button class="like btn btn-default" type="button"><a href="{{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}"Excluir</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ produto.quantidade }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ produto.preco }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ produto.tipo }}</td>
            </tr>
            <tr>
                <th>Imagem</th>
                <td>{{ produto.imagem }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produtos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produtos_edit', { 'id': produto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
               
{% endblock %}
